body:not(.body-completely-loaded){
  .elementor-top-section,
  .elementor-location-footer{
    content-visibility: hidden;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
}
.elementor-location-header .kitify--transparency-yes.elementor-section.elementor-sticky:not(.elementor-sticky--effects) {
  position: absolute;
  left: 0;
  width: 100%;
}
.wvr-customer-select {
  padding: 0 rem-calc(10) !important;
}
.kitify-sidebar {
  &.kitify-sidebar-layout_02 {
    .widget {
      border: solid 1px v(site-border-color);
      padding: rem-calc(24);
      .widget-title {
        margin-top: 0;
        padding-top: 0;
        &:before {
          display: none;
        }
      }
      .wcapf-price-filter-wrapper {
        padding: 0;
      }
    }
  }
}
